
<div class="column">

        <div class="field">
                <p class="control has-icons-left">
                    <input class="input is-rounded" type="text" placeholder="Search">
                    <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                    </span>
                </p>
                </div>
                
        <div class="container">
    
            <button [routerLink]="['/tasks']" class="button is-rounded is-centered">
    
                <span class="icon is-small">
                    <i class="fas fa-list-ul"></i>
                </span>
    
                <p>All Tasks</p>
    
            </button>
    
            <button [routerLink]="['/tasks/flagged']" class="button is-rounded is-centered">
    
                <span class="icon is-small">
                    <i class="fas fa-flag"></i>
                </span>
    
                <p>Flagged Tasks</p>
    
            </button>
    
        </div>
    
            <div class="container">
    
                <p class="has-text-weight-bold has-text-centered is-uppercase">
    
                    <button (click)="showCForm()" class="button is-success is-small">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button> Categories:
    
                </p>
    
            </div>
    
            <div *ngIf="showCatForm == true">
                <form (submit)="newCat()">
                    <input class="input is-rounded" type="text" name="name"  [(ngModel)]="category.name">
                    <button class="button is-success is-small">Go!</button>
                </form>
            </div>
    
            <div *ngIf="categories">
                <div class="buttons">
                    <div *ngFor="let cat of categories">
                        <button [routerLink]="['/tasks/cat.name']" class="button is-info is-rounded">{{cat.name}}</button>
                    </div>
                </div>
            </div>

</div>
    