<div class="level">
    <div class="level-left">

        <div *ngIf="task.flag == true">
            <span (click)="flag()" class="icon is-small has-text-danger">
                <i class="fas fa-flag"></i>
            </span>
        </div>
        <div *ngIf="task.flag == false">
            <span (click)="flag()" class="icon is-small">
                <i class="far fa-flag"></i>
            </span>
        </div>


        <div *ngIf="task.completed == false">
            <span (click)="complete()" class="icon is-small">
                <i class="far fa-square"></i>
            </span>
        </div>

        <div *ngIf="task.completed == true">
            <span (click)="complete()" class="icon is-small">
                <i class="far fa-check-square"></i>
            </span>
        </div>

        <p class="title is-5">{{task.title}}</p>

    </div>

    <div class="level-right">
        <a (click)="delete(task._id, task.categoryid)" class="delete is-right"></a>
    </div>
    
</div>